{% extends 'base.html.twig' %}

{% block title %}Larrun-Prod | Réalisations{% endblock %}

{% block main %}
	<main>
		<div id="realisations">
			<h1>Les réalisations de Larrun-Prod</h1>
			<article>
				<h2>En ligne</h2>
				<fieldset>
					<h3><a href="https://www.ac-mb.fr" target="blank">AC-MB <i class="fa fa-1x fa-external-link"></i></a></h3>
					<p>site pour une consultante spécialisée, présentation de son activité avec création d'un système d'article-blog et formulaire de contact avec enregistrement et envoi des données par mail.</p>
					<p>création d'une interface d'administration pour la gestion de la base clients, des articles, des utilisateurs de l'interface d'administration.</p>
					<p>{{'hello world'|u.truncate(5) }}</p>
				</fieldset>
				<fieldset>
					<h3><a href="https://www.cstraduction.com">CSTraduction <i class="fa fa-1x fa-external-link"></i></a></h3>
					<p>création d'un site vitrine billingue</p>
					<p>site développe sur mesure sur Wordpress.</p>
				</fieldset>
				<fieldset>
					<h3><a href="https://www.lesenfantsdemajunga.fr">Les Enfants de Majunga <i class="fa fa-1x fa-external-link"></i></a></h3>
					<p>refonte du site d'une association humanitaire</p>
					<p>passage d'un site wordpress.com à un site Wordpress sur mesure</p>
				</fieldset>
			</article>
			</article>
			<article>
				<h2>En cours</h2>
				<fieldset>
					<h3>Gustoki</h3>
					<p>refonte intégrale d'un site e-commerce billingue</p>
					<p>le choix de la technologie n'a pas encore été définie, le projet en est à l'étape du prototypage.</p>
				</fieldset>

		</div>

	</main>

{% endblock %}